<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_pic</key>
		<string>doge</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>baibai</string>
				<key>desc</key>
				<string>拜拜</string>
			</dict>
			<dict>
				<key>image</key>
				<string>beishang</string>
				<key>desc</key>
				<string>悲伤</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bingbujiandan</string>
				<key>desc</key>
				<string>并不简单</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bishi</string>
				<key>desc</key>
				<string>鄙视</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bizui</string>
				<key>desc</key>
				<string>闭嘴</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chanzui</string>
				<key>desc</key>
				<string>馋嘴</string>
			</dict>
			<dict>
				<key>image</key>
				<string>miao</string>
				<key>desc</key>
				<string>喵</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chigua</string>
				<key>desc</key>
				<string>吃瓜</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chijing</string>
				<key>desc</key>
				<string>吃惊</string>
			</dict>
			<dict>
				<key>image</key>
				<string>dahaqi</string>
				<key>desc</key>
				<string>打哈气</string>
			</dict>
			<dict>
				<key>image</key>
				<string>dalian</string>
				<key>desc</key>
				<string>打脸</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ding</string>
				<key>desc</key>
				<string>叮</string>
			</dict>
			<dict>
				<key>image</key>
				<string>doge</string>
				<key>desc</key>
				<string>doge</string>
			</dict>
			<dict>
				<key>image</key>
				<string>erha</string>
				<key>desc</key>
				<string>二哈</string>
			</dict>
			<dict>
				<key>image</key>
				<string>feijie</string>
				<key>desc</key>
				<string>费解</string>
			</dict>
			<dict>
				<key>image</key>
				<string>guile</string>
				<key>desc</key>
				<string>跪了</string>
			</dict>
			<dict>
				<key>image</key>
				<string>guzhang</string>
				<key>desc</key>
				<string>鼓掌</string>
			</dict>
			<dict>
				<key>image</key>
				<string>haha</string>
				<key>desc</key>
				<string>哈哈</string>
			</dict>
			<dict>
				<key>image</key>
				<string>haixiu</string>
				<key>desc</key>
				<string>害羞</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ku</string>
				<key>desc</key>
				<string>酷</string>
			</dict>
			<dict>
				<key>image</key>
				<string>kelian</string>
				<key>desc</key>
				<string>可怜</string>
			</dict>
			<dict>
				<key>image</key>
				<string>han</string>
				<key>desc</key>
				<string>汗</string>
			</dict>
			<dict>
				<key>image</key>
				<string>heiheihei</string>
				<key>desc</key>
				<string>嘿嘿嘿</string>
			</dict>
			<dict>
				<key>image</key>
				<string>heixian</string>
				<key>desc</key>
				<string>黑线</string>
			</dict>
			<dict>
				<key>image</key>
				<string>heng</string>
				<key>desc</key>
				<string>哼</string>
			</dict>
			<dict>
				<key>image</key>
				<string>huaixiao</string>
				<key>desc</key>
				<string>坏笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>huaxin</string>
				<key>desc</key>
				<string>花心</string>
			</dict>
			<dict>
				<key>image</key>
				<string>jiyan</string>
				<key>desc</key>
				<string>挤眼</string>
			</dict>
			<dict>
				<key>image</key>
				<string>keai</string>
				<key>desc</key>
				<string>可爱</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cover_pic</key>
		<string>xiaohaha</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>haoaio</string>
				<key>desc</key>
				<string>好爱哦</string>
			</dict>
			<dict>
				<key>image</key>
				<string>haoxihuan</string>
				<key>desc</key>
				<string>好喜欢</string>
			</dict>
			<dict>
				<key>image</key>
				<string>toule</string>
				<key>desc</key>
				<string>偷乐</string>
			</dict>
			<dict>
				<key>image</key>
				<string>xiaohaha</string>
				<key>desc</key>
				<string>笑哈哈</string>
			</dict>
			<dict>
				<key>image</key>
				<string>qiuguanzhu</string>
				<key>desc</key>
				<string>求关注</string>
			</dict>
			<dict>
				<key>image</key>
				<string>xiudada</string>
				<key>desc</key>
				<string>羞答答</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
